*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 100vh;
    padding: 1rem;
}

.card{
    background-color: #222;
    color:white ;
    width: 50%;
    height: 80vh;
    padding: 1rem;
    overflow: scroll;
    border-radius: 0.6rem;
}

input{
border: none;
border-radius: 0.6rem;
padding: 0.5rem;
width: 70%;

}

.btn{
border: none;
border-radius: 0.6rem;
padding: 0.5rem;
background-color: orange;
color: white;
transition: all 0.3s;
cursor: pointer;


}
.btn:hover{
    background-color: white;
    color: black;
}

#addTodoButton{
  
  
width: 19%;
    
}

.li-style{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin:1rem 0;
    transition: all 0.3s;
}

.li-style:hover{
    background-color: #111;
}

.bg-success{
margin: 0.5rem 0;
padding: 0.5rem;
color: black;
background: #ddffdd;
border-left: 6px solid #04aa6d;
}

.bg-danger{
    margin: 0.5rem 0;
padding: 0.5rem;
color: black;
background:#ffdddd;
border-left: 6px solid #f44336;
}